table {
    width: auto;
    height: auto;
    border: 5px solid black;
}

td {
    border: #d9d9d9 solid 0.1px;
    width: 30px;
    height: 30px;
}
.black {
    background-color: #000;
}

.white {
    background-color: #fff;
}